@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

h1{
    color: navy;
}

body{
    background-color: lightgrey;
}

nav{
    background-color: lightblue;
    text-align: center;
}

.index h1{
    font-family: 'Montserrat', sans-serif;
}