@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');




@media (min-width: 600px) {
    .grid-container-courses {
        display: grid;
        grid-template-areas:
          'para1 para3 para3'
          'para2 para3 para3';
      }
}

.grid-item1-courses { grid-area: para1; }
.grid-item2-courses { grid-area: para2; }
.grid-item3-courses { grid-area: para3; }


h1{
    color: #334259;
}

h2{
    font-size: 30px;
}

body{
    background-color: #edddd0;
}

header, footer{
    background-color: #a6cad4;
    text-align: center;
}

footer{
    position: relative;
    bottom: 0;  
    width:100%;
    height: 35px;
}

nav{
    display: flex;
    justify-content: space-evenly;
}

img{  
    max-width: 100%;
    height: auto;
}  

.index h1{
    font-family: 'Montserrat', sans-serif;
}

.grid-item1 { grid-area: para1; }
.grid-item2 { grid-area: image; }
.grid-item3 { grid-area: para2; }

.grid-container {
    display: grid;
    grid-template-areas:
      'para1 para1 para1 image'
      'para1 para1 para1 image'
      'para2 para2 para2 empty';
  }

div p{
    margin-top: 30px;
}

div a{
    margin-top: 15px;
}